[submodule "contracts/dependencies/forge-std"]
	path = contracts/dependencies/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/dependencies/openzeppelin-contracts"]
	path = contracts/dependencies/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/scroll-contracts"]
	path = lib/scroll-contracts
	url = https://github.com/scroll-tech/scroll-contracts
[submodule "contracts/dependencies/optimism"]
	path = contracts/dependencies/optimism
	url = https://github.com/ethereum-optimism/optimism
